.TodoButton{
  box-shadow:  8px 8px 16px #000000,
              -8px -8px 16px #ffffff;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 30px;
  vertical-align: middle;
  width: calc(100% - 60px);
  height: 50px;
  position: fixed;
  bottom: 30px;
  transition: background-color 300ms;
  z-index: 1;
}
.TodoButton:hover{
  background-color: #dbdbdb;
  box-shadow:  8px 8px 16px #000000,
  -8px -8px 16px #ffffff;
}